Repository xmrig/xmrig, pull requests merged in 2020-06, with the labels that each got.

#1711 Print errors from KawPow DAG initialization
  src/backend/cuda/runners/CudaKawPowRunner.cpp
Labels: kawpow

#1717 Conceal (CCX) support
  src/backend/cpu/CpuWorker.cpp
  src/backend/opencl/cl/cn/algorithm.cl
  src/backend/opencl/cl/cn/cryptonight.cl
  src/backend/opencl/cl/cn/cryptonight_cl.h
  src/base/crypto/Algorithm.cpp
  src/base/crypto/Algorithm.h
  src/base/crypto/Coin.cpp
  src/base/crypto/Coin.h
  src/crypto/cn/CnAlgo.h
  src/crypto/cn/CnHash.cpp
  src/crypto/cn/CryptoNight_arm.h
  src/crypto/cn/CryptoNight_monero.h
  src/crypto/cn/CryptoNight_test.h
  src/crypto/cn/CryptoNight_x86.h
Labels: algo, enhancement

#1720 Fixed GCC 10.1 issues
  src/crypto/cn/c_jh.c
Labels: bug

#1718 Stop linker from making stack executable
  src/crypto/astrobwt/sha3_256_avx2.S
Labels: bug

#1730 Show GPU # when compute error happens
  src/backend/cuda/CudaWorker.cpp
  src/backend/cuda/CudaWorker.h
  src/backend/opencl/OclWorker.cpp
  src/backend/opencl/OclWorker.h
  src/net/JobResults.cpp
  src/net/JobResults.h
Labels: enhancement

#1732 Fixed NiceHash disconnects for KawPow
  src/base/net/stratum/EthStratumClient.cpp
  src/base/net/stratum/Pool.cpp
  src/base/net/stratum/Pool.h
Labels: kawpow

#1749 KawPow: optimized CPU share verification
  src/3rdparty/libethash/ethash_internal.c
  src/3rdparty/libethash/ethash_internal.h
  src/crypto/kawpow/KPCache.cpp
  src/crypto/kawpow/KPHash.cpp
Labels: kawpow

#1759 Fixed DAG initialization on slower AMD GPUs
  src/backend/opencl/runners/OclKawPowRunner.cpp
Labels: kawpow
