Repository xmrig/xmrig, pull requests merged in 2020-09, with the labels that each got.

#1823 RandomX: added parameter for scratchpad prefetch mode
  src/config.json
  src/core/config/Config_default.h
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/randomx.h
  src/crypto/rx/Rx.cpp
  src/crypto/rx/RxConfig.cpp
  src/crypto/rx/RxConfig.h
Labels: enhancement, randomx

#1828 RandomX: added SSE4.1-optimized Blake2b
  cmake/flags.cmake
  src/backend/cpu/interfaces/ICpuInfo.h
  src/backend/cpu/platform/BasicCpuInfo.cpp
  src/crypto/randomx/blake2/blake2b-load-sse41.h
  src/crypto/randomx/blake2/blake2b-round.h
  src/crypto/randomx/blake2/blake2b.c
  src/crypto/rx/RxVm.cpp
Labels: randomx

#1827 nonce iteration optimization
  src/backend/common/WorkerJob.h
  src/crypto/common/Nonce.cpp
  src/crypto/common/Nonce.h
Labels: bug, enhancement

#1830 RandomX: added performance profiler (for developers)
  CMakeLists.txt
  src/base/base.cmake
  src/base/io/log/Tags.cpp
  src/base/io/log/Tags.h
  src/base/tools/Profiler.cpp
  src/base/tools/Profiler.h
  src/core/Miner.cpp
  src/crypto/randomx/aes_hash.cpp
  src/crypto/randomx/blake2/blake2.h
  src/crypto/randomx/blake2/blake2b-load-sse41.h
  src/crypto/randomx/blake2/blake2b-round.h
  src/crypto/randomx/blake2/blake2b.c
  src/crypto/randomx/blake2_generator.cpp
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/virtual_machine.cpp
  src/crypto/randomx/virtual_machine.hpp
  src/crypto/randomx/vm_compiled.cpp
  src/crypto/rx/RxConfig.cpp
Labels: enhancement, randomx

#1831 reserve at most 1 bit for wrapping detection
  src/backend/common/WorkerJob.h
  src/base/net/stratum/Job.h
  src/crypto/common/Nonce.cpp
Labels: enhancement

#1840 RandomX refactoring, moved more stuff to compile time
  src/backend/cpu/interfaces/ICpuInfo.h
  src/backend/cpu/platform/BasicCpuInfo.cpp
  src/backend/cpu/platform/BasicCpuInfo.h
  src/crypto/randomx/bytecode_machine.cpp
  src/crypto/randomx/bytecode_machine.hpp
  src/crypto/randomx/common.hpp
  src/crypto/randomx/jit_compiler_a64.cpp
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/jit_compiler_x86.hpp
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/randomx.h
Labels: randomx

#1841 Fixed Cryptonight OpenCL for AMD 20.7.2 drivers
  src/backend/opencl/cl/cn/cryptonight.cl
  src/backend/opencl/cl/cn/cryptonight_cl.h
Labels: bug, opencl

#1843 RandomX improved performance of GCC compiled binaries
  src/base/tools/Profiler.cpp
  src/base/tools/Profiler.h
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/jit_compiler_x86.hpp
  src/crypto/randomx/randomx.cpp
Labels: randomx

#1845 Fix for ARM compilation
  src/crypto/randomx/randomx.cpp
Labels: arm, bug

#1846 KawPow: fixed OpenCL memory leak
  src/backend/opencl/runners/OclKawPowRunner.cpp
  src/backend/opencl/runners/OclKawPowRunner.h
  src/backend/opencl/runners/tools/OclKawPow.cpp
  src/backend/opencl/runners/tools/OclKawPow.h
Labels: bug, kawpow, opencl

#1850 Miner: filter invalid algos
  src/base/crypto/Algorithm.h
  src/core/Miner.cpp
Labels: bug

#1849 soft_aes: fix previous optimization
  src/crypto/randomx/aes_hash.cpp
Labels: bug, randomx

#1852 String: distinguish nullptr/empty str
  src/base/tools/String.cpp
Labels: bug

#1856 Fixed SSE4.1 for old CPUs
  cmake/flags.cmake
  cmake/randomx.cmake
Labels: bug

#1857 RandomX: isolate SSE4.1 code to fix crashes on old CPUs
  cmake/randomx.cmake
  src/crypto/randomx/blake2/blake2b.c
  src/crypto/randomx/blake2/blake2b_sse41.c
Labels: bug

#1859 RandomX: optimized soft AES code
  src/crypto/randomx/aes_hash.cpp
Labels: randomx
