Repository xmrig/xmrig, pull requests merged in 2021-05, with the labels that each got.

#2340 Fix AES detection on FreeBSD on ARM
  src/backend/cpu/platform/BasicCpuInfo_arm.cpp
Labels: bug

#2341 Update sse2neon.h
  src/crypto/cn/sse2neon.h
Labels: bug

#2375 Fixup MacOS CUDA backend default loader name
  src/backend/cuda/wrappers/CudaLib.cpp
Labels: bug

#2378 Fixed broken light mode mining on x86
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/jit_compiler_x86.hpp
Labels: bug

#2386 Enabled IMUL_RCP optimization for light mode mining
  src/crypto/randomx/asm/program_read_dataset_sshash_fin.inc
  src/crypto/randomx/asm/program_read_dataset_sshash_init.inc
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/jit_compiler_x86.hpp
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/randomx.h
Labels: randomx

#2393 RandomX: added BMI2 version for scratchpad prefetch
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/jit_compiler_x86_static.S
  src/crypto/randomx/jit_compiler_x86_static.asm
  src/crypto/randomx/jit_compiler_x86_static.hpp
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/randomx.h
Labels: randomx

#2395 RandomX: rewrote dataset read code
  src/crypto/randomx/asm/program_prologue_linux.inc
  src/crypto/randomx/asm/program_prologue_win64.inc
  src/crypto/randomx/asm/program_read_dataset.inc
  src/crypto/randomx/asm/program_read_dataset_ryzen.inc
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/jit_compiler_x86_static.S
  src/crypto/randomx/jit_compiler_x86_static.asm
  src/crypto/randomx/jit_compiler_x86_static.hpp
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/randomx.h
Labels: randomx

#2398 RandomX ARMv8: optimized dataset read
  src/crypto/randomx/jit_compiler_a64_static.S
Labels: arm, randomx

#2401 RandomX: fix broken light mode mining
  src/crypto/randomx/asm/program_read_dataset_sshash_init.inc
Labels: bug, randomx

#2283 support builtin msr
  src/hw/msr/Msr_linux.cpp
Labels: bug
