Repository xmrig/xmrig, pull requests merged in 2024-08, with the labels that each got.

#2411 Added support for Yada (rx/yada algorithm)
  src/backend/cpu/CpuConfig_gen.h
  src/base/crypto/Algorithm.cpp
  src/base/crypto/Algorithm.h
  src/base/crypto/Coin.cpp
  src/base/crypto/Coin.h
  src/base/net/stratum/Job.cpp
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/randomx.h
  src/crypto/rx/RxAlgo.cpp
Labels: randomx

#3525 Added Zen5 detection
  src/backend/cpu/interfaces/ICpuInfo.h
  src/backend/cpu/platform/BasicCpuInfo.cpp
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/rx/RxConfig.cpp
Labels: randomx

#3528 Added rx/yada OpenCL support
  src/backend/opencl/OclWorker.cpp
  src/backend/opencl/cl/cn/algorithm.cl
  src/backend/opencl/cl/cn/cryptonight_cl.h
  src/backend/opencl/cl/rx/blake2b.cl
  src/backend/opencl/cl/rx/randomx.cl
  src/backend/opencl/cl/rx/randomx_cl.h
  src/backend/opencl/interfaces/IOclRunner.h
  src/backend/opencl/kernels/rx/Blake2bInitialHashBigKernel.cpp
  src/backend/opencl/kernels/rx/Blake2bInitialHashBigKernel.h
  src/backend/opencl/opencl.cmake
  src/backend/opencl/runners/OclCnRunner.cpp
  src/backend/opencl/runners/OclCnRunner.h
  src/backend/opencl/runners/OclKawPowRunner.cpp
  src/backend/opencl/runners/OclKawPowRunner.h
  src/backend/opencl/runners/OclRxBaseRunner.cpp
  src/backend/opencl/runners/OclRxBaseRunner.h
Labels: enhancement, opencl, randomx

#3531 Always reset nonce on RandomX dataset change
  src/backend/cpu/CpuWorker.cpp
  src/backend/cuda/CudaWorker.cpp
  src/backend/opencl/OclWorker.cpp
  src/core/Miner.cpp
Labels: bug, randomx

#3534 Fixed threads auto-config on Zen5
  src/backend/cpu/platform/HwlocCpuInfo.cpp
Labels: bug

#3535 RandomX: tweaks for Zen5
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/rx/RxConfig.cpp
Labels: randomx

#3539 Added Zen5 to randomx_boost.sh
  scripts/randomx_boost.sh
Labels: randomx

#3540 Detect AMD engineering samples in randomx_boost.sh
  scripts/randomx_boost.sh
Labels: randomx
